.container{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    text-align: center;
    flex: 1 100%;
}

.row{
    flex: 1 100%;
    margin-left: 10px;
    margin-right: 10px;
}

.column{
    flex: 1 auto;
}

#hanoiTowersWrapper {
	background: #eee;
	max-width: 900px;
	margin: auto;
	border: 3px solid #000;
    margin-top: 50px;
}


.pegWrapper {
	padding-top: 30px;
    display: flex;
}


.peg {
	height: 300px;
	max-width: 30px;
	margin: auto;
	background-image: url(https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcS5oRjPjDxj58za7QwMyb9Ykn5e5DivkFlVMK_ZoKV1fhNDwR01);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-size: cover;
	position: relative;
}

.pegBase {
	width: 100%;
	height: 35px;
	background-image: url('https://s-media-cache-ak0.pinimg.com/originals/6b/5f/a8/6b5fa8323dd4e1f0ae585cfd867a4053.jpg');
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;

}

.disc {
    border-radius: 15px;
    height: 10%;
    background-color: #000;
    position: absolute;
}

#numDiscs {

}

#discSubmit {

}
